.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.pattern {
  height: 32vh;
  background-image: url('@assets/images/pattern-bg.png');
  background-size: cover;
}
